<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
        http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>UsersControl</servlet-name>
        <servlet-class>controller.UsersControl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>controller.Authentication</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/controller/Authenticate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UsersControl</servlet-name>
        <url-pattern>/controller/UsersControl</url-pattern>
    </servlet-mapping>

</web-app>
